<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>This is myapp</title>
    <script src="http://cdn.static.runoob.com/libs/angular.js/1.4.6/angular.min.js"></script> 
    <link rel="stylesheet" type="text/css" href="/static/stylesheets/base.css">
    <style>
      
        #vaildin.ng-valid{
            background-color:lightskyblue; 
        }
        
    </style>
</head>
<body ng-app="myApp">
    <div class="row">
        <div class="col left-column">
            <h1>Hello World!</h1>

            <form name="myForm" ng-controller="myCtrl">
                Email: 
                <input id="vaildin" type="email" name="myAddress" ng-model="myText" re>
                <span ng-show="myForm.myAddress.$error.email">不合法邮箱地址</span>
                <p class="title">编辑邮箱地址，查看状态的改变。</p>
                <h3>状态</h3>
                <p>Vaild: {{myForm.myAddress.$valid}}</p>
                <p>Dirty: {{myForm.myAddress.$dirty}}</p>
                <p>Touched: {{myForm.myAddress.$touched}}</p>
            </form>

            <div ng-controller="myCtrl6">
                <p class="title">使用ng-options做下拉列表</p>
                <select ng-model="selectedName" ng-options="x for x in names"></select>
                <p class="title">使用ng-repeat做下拉列表</p>
                <select>
                    <option ng-repeat="x in names">{{x}}</option>
                </select>
            </div>
            <div ng-controller="myCtrl7">
                <p class="title">使用ng-options</p>
                <select ng-init="selectedSite = sites[0] " ng-model="selectedSite" ng-options="x.site for x in sites"></select>
                <h1>你的选择是：{{selectedSite.site}}</h1>
                <p>网址为： {{selectedSite.url}}</p>
            </div>
        </div>
        <div class="col mindle-column">
            <div ng-controller="Time">
                <h1>{{ theTime }}</h1>
            </div>
            <div ng-controller="myCtrl5">
               <p>把“255” 转化为 16进制</p>
                <h2>{{hex}}</h2>
                <p>自定义服务+自定义过滤器</p>
                <h2>{{128 | myFormat }}</h2>
            </div>
            <div ng-controller="siteCtrl">
                <ul>
                    <li ng-repeat="x in names">
                        {{ x.Name + ',' + x.Country }} <br>
                        {{x.Url}}
                    </li>
                </ul>
            </div>
        </div>

        <div class="col right-colum">
            <div runoob-directive></div>
            <h3>外部文件中的控制器</h3>
            <div ng-controller="myCtrl2">
                First Name: <input type="text" ng-model="firstName"><br>
                Last Name: <input type="text" ng-model="lastName">
                <br>  <style>
      
                        #vaildin.ng-valid{
                            background-color:lightskyblue; 
                        }
                        
                    </style>
                Full Name: {{firstName + " " + lastName}}
            </div>

            <div ng-controller="myCtrl3">
                <span>使用orderBy</span>
                <ul>
                    <li ng-repeat="x in names| orderBy:'country'">
                        {{x.name + ',' + x.country}}
                    </li>
                </ul>
                <span>不使用orderBy</span>
                <p>过滤关键词：<input type="text" ng-model="test"></p>
                <ul>
                    <li ng-repeat="x in names | filter:test">
                        {{ (x.name | lowercase) + ',' + x.country}}
                    </li>
                </ul>
            </div>
            <div ng-controller="myCtrl4">
                <p>姓名：{{msg | reverse}}</p> 
            </div>  
            <div ng-controller="myCtrl8">
                <table>
                    <tr style="{{$even?'background-color: #546846':''}}" ng-repeat="x in names | orderBy : 'Country'">
                        <td>{{ $index + 1 }}</td>
                        <td>{{x.Name}}</td>
                        <td>{{x.Country | uppercase}}</td>
                    </tr>
                </table>
            </div>
        </div>
</div>
    <script src = "/static/javascripts/personController.js"></script>
</body>
</html>